<!DOCTYPE html>
<html>
<head>
    <title>URL Shortener</title>
</head>
<body>
    <h1>URL Shortener</h1>
    <form method="post">
        <label for="original_url">Original URL:</label>
        <input type="text" id="original_url" name="original_url"><br><br>
        <label for="custom_alias">Custom Alias:</label>
        <input type="text" id="custom_alias" name="custom_alias"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <label for="max_clicks">Max Clicks:</label>
        <input type="number" id="max_clicks" name="max_clicks"><br><br>
        <input type="submit" value="Shorten URL">
    </form>
</body>
</html>
